.header {
  background-color: transparent;
  border-bottom: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  height: 60px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  transform: translateZ(0);
  z-index: 1000;
  
  &.active {
    background-color: $bg-black;
    // border-bottom: 1px solid #F2F3F6;
  }

  > .container {
    display: flex;
    justify-content: space-between;
    height: 60px;
  }

  a {
    font-size: 1rem;
    line-height: 1.6667em;
  }

  .header__left {
    height: 60px;
    width: 45px;
  }

  .header__right {
    height: 60px;
    width: 240px;

    >div {
      height: 60px;
    }
  }

  .header__logo-wrapper {
    height: 60px;
  }

  .header__logo {
    height: 45px;
    width: 45px;
    margin: 0 auto;
  }

  @media (min-width: $tablet) {
    .header__right {
      width: 410px;
    }
  }
}