.lines {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: calc(100% - 140px);
  z-index: 100;
  transform: translateX(-50%);
  pointer-events: none;
  max-width: 1300px;

  @media (max-width: $p-tablet) {
    display: none;
  }
}

.line {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #fff;
  opacity: .02;

  &.hide {
    opacity: 0;
  }
}

.line:first-child {
  left: 16.66%
}

.line:nth-child(2) {
  left: 33.32%
}

.line:nth-child(3) {
  left: 49.98%
}

.line:nth-child(4) {
  left: 66.64%
}

.line:nth-child(5) {
  left: 83.3%
}

.line:nth-child(6) {
  left: 99.96%
}

.h-lines {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  z-index: 0;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  transform: translateX(-50%);
}

.h-line {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 0.02;

  &.hide {
    opacity: 0;
  }
}