.slider.slick-slider {
  width: 100%;
  height: calc(100vh - 120px);

  .slick-list {
    height: calc(100vh - 120px);
  }

  .slick-slide img {
    display: block;
    height: calc(100vh - 120px);
    margin: 0 auto;
  }
}

.slick-dots {
  bottom: -40px;

  li button:before {
    font-size: 8px;
    color: white;
  }

  li.slick-active button:before {
    opacity: 1;
    color: $green;
  }
}

