.project__container {
  display: flex;
  height: calc(100vh - 60px);
  width: 100%;
}

.half {
  flex-basis: 50%;
  width: 50%;

  @media (max-width: $p-tablet) {
    flex-basis: 100%!important;
    height: 100vh;
    position: absolute;
    width: 100%!important;
  }
}

.project-pic {
  position: relative;
  display: flex;
  cursor: pointer;

  @media (max-width: $p-tablet) {
    width: 100% !important;
    flex-basis: 100%!important;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
  }
}

.project-imgs {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.project-img-holder {
  overflow: hidden;
  position: relative;
  width: 83.33%;
  height: calc(100vh - 60px);
  z-index: 1;
  transition-delay: 0.1s;
  transition-property: width;
  transition-duration: .2s;
  transition-timing-function: ease-in;
}

.dark-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(18, 34, 42, 0.5);
  z-index: 3;
}

.project-title {
  display: flex;
  height: calc(100vh - 120px);
  width: 100%;
}

.project-title__title {
  font-size: 7.8vw;
  color: whitesmoke;
  position: relative;
  align-self: center;
  margin-left: -20px;
  z-index: 15;
  transition: all 0.3s ease-in-out;
  user-select: none;
  text-shadow: none;
  bottom: 0;

  &:before {
    content: '';
    border-top: 1.1em solid rgba(243, 243, 250, 0.95);
    position: absolute;
    width: 0%;
    left: 0;
    right: 0;
    top: 12.5%;
    z-index: -1;
    transform: skewX(-40deg);
    transition: width .2s cubic-bezier(.68, 0, .33, 1) .1s;
    transition: width .2s cubic-bezier(.68, 0, .33, 1) .1s, border-color .2s cubic-bezier(.55, .055, .675, .19) .1s;
  }
}

.project-showcase {
  position: absolute;
  bottom: 50px;
  right: 10px;
  opacity: 0;
  font-size: 14px;
  z-index: 15;

  &:before {
    content: '';
    border-top: 2em solid $green;
    position: absolute;
    width: 30%;
    right: 20%;
    top: -6%;
    z-index: -1;
    transform: skewX(-40deg);
    transition: all .3s cubic-bezier(.68, 0, .33, 1);
  }
}

.project-pic:hover {
  .project-img-holder {
    width: 85%;
  }
  .project-title__title {
    color: $bg-black;
    margin-left: -15px;
    text-shadow: -0.02em 0.02em 0px #7ad71f;
    bottom: 0.02em;

    &:before {
      width: 100%;
    }
  }
  .project-showcase {
    opacity: 1;
    right: 0;
    bottom: 60px;

    &:before {
      right: 0;
      width: 20%;
    }
  }
}