.card {
  position: relative;
  height: 450px;
  background-color: $bg-dark-black;
  margin-bottom: 16px;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04);
  transition: all .4s;

  &:hover {
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.08);
  }

  &__wrapper {
    width: 100%;
    height: 100%;
  }

  &__title {
    color: white;
    .icon--arrow {
      color: $text-grey;
      height: 20px;
      width: 20px;
    }
  }
}

.card__image {
  background-size: cover;
  background-position: left center;
  position: relative;
  width: 100%;
  height: 330px;
  overflow: hidden;
}

.card__desc {
  position: absolute;
  bottom: 0;
  height: 120px;
  width: 100%;
  background-color: $bg-dark-black;
  padding: 25px;
  border-radius: 0 0 4px 4px;
  z-index: 1;
  transition: all 0.25s ease-in-out;

  p.label {
    font-size: 10px;
    margin-top: 10px;
  }
}

.card__desc-panel {
  color: $text-dark-grey;
  opacity: 0;
  transition: all 0.25s ease-in-out;

  > p {
    font-size: 14px;
  }
}

.card__title {
  font-size: 20px;
}

.card__wrapper:hover,
.card__wrapper.active {
  .icon--arrow {
    color: $green;
  }

  .card__desc {
    height: 200px;
  }

  .card__desc-panel {
    opacity: 1;
  }
}

.label span, .case-study .label span {
  margin-right: 10px;
  text-transform: uppercase;
}

// mini cards

.card.mini {
  height: 120px;
  .card__desc {
    height: 120px;
  }
}