html {
  line-height: 1.7;
  transition: all 0.3s ease-out;
  color: #ffffff;
}

body {
  background-color: $bg-black;
}

body, p {
  font-family: $open-sans;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: $museo;
  color: #ffffff;
}

strong {
  font-family: $museo;
}

::selection {
  background-color: #ffffff;
  color: $bg-black;
  text-shadow: none;
}

section {
  position: relative;
}

a, p, ul {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.7;
  font-weight: 400;
}

a:focus {
  outline: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: 600;
}

h2 {
  font-size: 44px;
  line-height: 1.4;
}

h3 {
  font-size: 27px;
  line-height: 1.4;
}

h4 {
  font-size: 14px;
  line-height: 1.2;
}

h1 {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 600;
  margin: 0;
}

h2+p.label, h3+p.label {
  margin: 5px 0 25px;
}

.content-container {
  padding-top: 60px;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $desktop) {
    width: 70%;
  }
}