@media (max-width: 768px) {
  h2 {
    font-size: 36px;
  }

  #content-wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }

  .case-study li {
    margin-left: 0px;
  }
  .case-study p, .case-study li {
    font-size: 16px;
  }
  .case-details p {
    font-size: 12px;
  }
}