// colors
$black: #242a37;
$green: #7ad71f;
$bg-black: #12222a;

// fonts
$museo: 'Museo Sans', serif;
$open-sans: 'Open Sans', sans-serif;

// breakpoints
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$large-screen: 1200px;