// colors
.accent {
  color: $green;

  &::selection {
    color: white;
  }
}

.text-white {
  color: white;
}

.text-light {
  color: $text-grey;
}

.text-dark {
  color: $text-dark-grey !important;
}

// fonts
.standout-text {
  font-family: $museo;
}

.sneaky-text {
  font-family: $open-sans;
}

.normal {
  font-weight: 400;
}

.medium {
  font-weight: 600;
}

.bold {
  font-weight: 700;
  letter-spacing: 0.2px;
}

.italics {
  font-style: italic;
}

.no-underline, .no-underline:hover {
  text-decoration: none;
}

// align
.valign-wrapper {
  display: flex;
  align-items: center;
}

.valign-wrapper > .row {
  width: 100%;
}

.valign-wrapper > .valign {
  display: block;
}

.center-text {
  text-align: center;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

// sizes
.one-vh {
  height: 100vh;
}

.full-width {
  width: 100%;
}


// margins
.m-a {
  margin-left: auto;
  margin-right: auto;
}

.m-b-sm {
  margin-bottom: 24px;
}

.m-h-none {
  margin-right: 0;
  margin-left: 0;
}

// paddings
.p-b-md {
  padding-bottom: 40px;
}

.p-b-sm {
  padding-bottom: 24px;
}

.p-b-xs {
  padding-bottom: 8px;
}

.p-h-xs {
  padding-left: 8px;
  padding-right: 8px;
}

.p-t-md {
  padding-top: 40px;
}

.p-h-none {
  padding-left: 0;
  padding-right: 0;
}

// position 

.pos-relative {
  position: relative;
}

// floats
.float-right {
  float: right;
}

// transition
.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.transition-ease {
  transition: opacity 0.1s ease;
}

// hide-show classes
.hidden-on-mobile {
  @media (max-width: $p-mobile) {
    display: none !important;
  }
}

.hidden-above-mobile {
  @media (min-width: $p-mobile) {
    display: none !important;
  }
}

.hidden-on-tablet {
  @media (max-width: $p-tablet) {
    display: none !important;
  }
}

.hidden-above-tablet {
  @media (min-width: $p-tablet) {
    display: none !important;
  }
}

.label {
  color: #9394A7;
  margin: 5px 0;
  font-weight: 600;
}

.nav-link, .label {
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.section-label {
  font-size: 20px;
}

.section-label:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -10px;
  height: 6px;
  width: 60px;
  border-bottom: 6px solid $green;
}

.section-banner {
  height: 80px;
}

.section-banner .section-label:before {
  right: unset;
  left: 15px;
  top: 30px;
  bottom: unset;
}

.label, .section-label {
  font-family: $museo;
}